/* Version 2: Full Width and Typographic */
@font-face {
    font-family: "instrument";
    src: url("instrumentserif-regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
  }
  
@font-face {
    font-family: "Ants";
    src: url("Ouvrieres/Ouvrieres-affamees.woff") format("woff");
    font-style: normal;
    font-weight: normal;
  }

  body {
    /* I'm overriding the default margin and setting it to 0 */
        margin: 0;
        cursor: url("mycursor.png"), crosshair;
        font-family: "instrumental";
        overflow-y:hidden;
      }
    
    
    .container {
    /* I'm giving this a position:relative so I can position other content within it with position:absolute */
        position: relative;
    
    /* This makes the container 100% of the viewport width */
        width: 100vw;
        background: rgb(40, 0, 218);
    
    /* This makes the container 100% of the viewport height */
        height: 100vh;
        background: rgb(40, 0, 218);
        overflow-y:hidden;
    }
    
    /* Whenever you are trying to position a child element relative to its parent container, you must: */
    /* 1. Give the parent a position:relative (see line 10) */
    /* 2. Give the child a position:absolute (see line 29) */
    /* 3. The top, bottom, left, right properties will now be relative to the parent */
    
    
    h1 {
    /* I'm giving this a position:absolute so I can position it relative to the container (see line 10) */
    /* You would give every element within the container a position:absolute */
    /* Important: Make sure in your HTML that the content is nested between the container div tags */
        position: absolute;
     
    /* This centers the content vertically and horiziontally within the container */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .heading{
        z-index: 2;
        display:flex;
        justify-content: space-around;
        font-family: "instrument";
      }

    .hugerock{
        width: 100vw;
        opacity:0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


      h1{
        z-index: 1;
      }

    h1:hover ~ img{
        opacity:1;
      }


      h1:hover{
        opacity: 0;
      }

  .title{
    margin: 0; padding: 0;
    position:absolute;
    top: 50%; left: 50%;
    transform:translate(-50%,-50%);
    font-size: 6em; 
    color:white;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
  }




.name{
    color: #ffffff;
    transition: 2s;
}

.date{
    color: #ffffff;
    transition: 2s;
}

.opening{
    color: #ffffff;
    transition: 2s;
}

.location{
    color: #ffffff;
    transition: 2s;
}

.name:hover, .date:hover, .opening:hover, .location:hover{
    z-index: 2;
    opacity:0.5;
    scale:110%;
    filter:blur(1.5rem);
  } 



  /* .images{
    position: 
  } */

.rock{
    position: absolute;
    left:100px;
    top:200px;
    scale: 60%;
    opacity: 0;
    transition: 0.15s;
    cursor: url("cursor2.png"), crosshair;
}
.rock:hover{
    opacity: 1;
    scale:70%;
}

.rock1{
    position:absolute;
    scale: 60%;
    opacity: 0;
    left:-100px;
    top:-100px;
    transition: 0.15s;
    cursor: url("cursor2.png"), crosshair;
}
.rock1:hover{
    opacity: 1;
    scale:70%;
}

.rock2{
    position:absolute;
    scale: 100%;
    opacity:0;
    right:400px;
    top:400px;
    transition: 0.15s;
    cursor: url("cursor2.png"), crosshair;
}
.rock2:hover:hover{
    opacity: 1;
    scale:110%;
}

.rock3{
    position:absolute;
    scale: 50%;
    top:-50px;
    opacity: 0;
    transition: 0.15s;
    right: -100px;
    cursor: url("cursor2.png"), crosshair;
}
.rock3:hover{
    opacity: 1;
    scale:60%;
}

.rock4{
    position:absolute;
    scale: 50%;
    right:-100px;
    bottom:80px;
    opacity: 0;
    transition: 0.15s;
    cursor: url("cursor2.png"), crosshair;
}
.rock4:hover{
    opacity: 1;
    scale:60%;
}

.rock5{
    position:absolute;
    scale: 60%;
    left:500px;
    top:-70px;
    opacity: 0;
    transition: 0.15s;
    cursor: url("cursor2.png"), crosshair;
}
.rock5:hover{
    opacity: 1;
    scale:70%;
}

.rock6{
    scale: 60%;
    position:absolute;
   left:350px;
    top:50px;
    opacity:0;
    transition: 0.15s;
    cursor: url("cursor2.png"), crosshair;
}
.rock6:hover{
    opacity: 1;
    scale:70%;
}

.rock7{
    position:absolute;
    scale: 100%;
    right:20px;
    bottom:-20px;
    opacity: 0;
    transition: 0.15s;
    cursor: url("cursor2.png"), crosshair;
}
.rock7:hover{
    opacity: 1;
    scale:110%;
}

.rock8{
    position:absolute;
    bottom:-30px;
    left:-30px;
    scale: 60%;
    opacity: 0;
    transition: 0.15s;
    cursor: url("cursor2.png"), crosshair;
}
.rock8:hover{
    opacity: 1;
    scale:70%;
}

.longcopy{
    display:none;
}

.code{
    display:none;
}

#none{
    display: none;
} 


