h1{
    font-family: Helvetica;
}

p {
    font-family: Helvetica;
    font-size: 50px;
}

#la {
    font-family: Arial, Helvetica, sans-serif;
}


.sunset{
    background-image: linear-gradient(#ff4a00, #01186d);
    height:1000px;
    }



a {
    text-decoration: none;
}
